 {#
    Main wrapper for standard pages
    -------------------------
#}

{% extends "_layouts/_base.twig" %}

{% block main %}

 <section class="container">
 	<div class="row">
 		<div class="col-md">
			<p>Hello</p> 			
 		</div>
 	</div>
 </section>

{% endblock %}

